# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
.idea/*
.idea

# Private things
mydatabase.db/*
Dockerfile
.env
.tmp
*.json
*.py
*.js

# assets
assets/logs/*
assets/old_questions.txt
assets/cleaned.txt


data/*
assets/backup.csv
assets/cleaned.txt
.yml
assets/*